{% extends 'base.html' %}

{% block content %} 

  
<section class="bg-dark text-light text-center shadow mb-20">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center">Hello {{ current_user.first_name }}! Welcome to the Library App. </h1>
            </div>
            <div>
                <h3 class="col text-center">Please Create, Retrieve, Update or Delete a Book. </h3>
            </div>
        </div>
    </div>
</section>


<section class="text-center">
    <div class="container p-5">
        <div class="row align-items-center"><br>
            <h3 class="p-5">Perform Your Search, Entry, Update and Deletion Here</h3>
                <form method="post" action = "{{ url_for('site.books') }}">
                    
                    <div>
                        <label for="isbn">ISBN:</label><input type="text" name="isbn" placeholder="Input isbn" autofocus placeholder="Year">
                    </div>    
                    <div>
                        <label for="year">Year:</label><input type="number" name="year" min="1950" max="2023" autofocus placeholder="Year">
                    </div>    
                    <div>
                        <label for="title">Title:</label>
                        <input type="text" name="title" placeholder="Input Title" autofocus></th>
                    </div>
                    <div>
                        <label for="pages">Pages:</label>
                        <input type="text" name="pages" placeholder="Input Pages" autofocus> </th>
                    </div>
                    <div>
                        <label for="author">Author:</label>
                        <input type="text" name="author" placeholder="Input Author" autofocus></th>
                    </div>
                    <button type="submit" name="create" formaction="/create_book">Create Book</button>
                    
                    
                </form>
            
        </div>
       
        <div class="row" style="margin-top: 20px;">
            <div class="col-4"></div>
            <div class="col-3 p-10">
                <img src="../../static/images/photo2.jpg" class="d-flex align-items-center justify-content-center p-50 img-fluid" alt="">
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</section>
{% endblock %}

